@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/*--Navbar*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafa;
    margin: 0 3em;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #fafafa;
    
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 3em 3.8em 1em 3.8em;
}
.container{
    display: flex;
    align-items: center;
    
}

.header-nav ul{
    display: flex;
    padding: 0;
}
.header-nav ul li{
    margin: 0 1em;
    list-style: none;
}
.header-nav a{
    color: #808080;
    text-decoration: none;
}
#logo{
    font-size: 44px;
    font-weight: 900;
    color: #000000;
}

/*--main with 3 sections--*/

.floatLeft{
    display: flex;
    margin-bottom: 2em;
    padding: 0 3.8em;
}
.LeftContainer{
    width: 795px;
}
.LeftContainer #web3image img{
    width: 766px;
    height: 240px;
}
#rightToImage{
    margin-left: 2em;
    margin-right: 1em;
    background-color: #131313;
    height: 460px;
}
#rightToImage h2{
    color: #FFD700;
    padding-top: 24px;
    padding-left: 14px;
    padding-bottom: 0;
    font-size: 35px;
}
#toRightContent{
    margin: 1em;
}
#toRightContent h3{
    color: #ffffff;
    margin: 1em 0;;
}
#toRightContent p{
    color: #E5E4E2;
    margin: 1em 0;
}
#containerContent{
    display: flex;
    margin: 24px 0;
}
#headingLeft {
    padding-right: 2em;
    width: 80%;
}
#headingLeft h1{
    font-weight: 700;
    font-size: 60px;
}
#containerRightContent{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#containerRightContent p{
    font-size: 21px;
    padding: 1em 1em 1em 0;
    color: #808080;
}
#readmore{
    background-color: #FF4433;
    border: none;
    color: #E5E4E2;
    text-align: center;
    font-size: 17px;
    align-self: flex-start;
    width: 50%;
    height: 50px;
}
.FloatDown{
    display: flex;
    margin-bottom: 4em;
    padding: 0 3.8em;
    justify-items: center;
    
}
#leftImage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-right: 2em;
}
#leftImage img{
    width: 90px;
    height: 115px;
}
.FloatDown #contents{
    padding: 0 2em;
}
#numbers{
    color: #808080;
    font-size: 32px;
}
#contents #contentHeadings{
    color: #131313;
    margin: 5px 0;
}
#contents p{
    color: #808080;
}
footer{
    display: flex;
    padding: 0 3.8em; 
    justify-content: center; 
}
